* {border: 0px solid #eee; margin: 0; padding: 0; list-style: none}
body {font-family: Arial, Helvetica, sans-serif; font-size: 10px; cursor: default; color: #eee; background-color:#000;}
h1, h2, .large, .left, .phrase { font-family: Arial, Helvetica, sans-serif;font-size: 40px;}
.phrase {font-size: 20px;}
a {text-decoration: none; color: #fff;outline: 0}
form, input, select, textarea {margin: 0;padding: 0;color: #ffffff;}
.abs {position: absolute;top: auto;left: auto;right: auto;bottom: auto;}

#bar_top,
#bar_bottom {left: 0;right: 0;}
#bar_top {top: 0; height:90px; background-color:#000; text-align:center;}
#bar_bottom {bottom: 0; height:120px; background-color:#222;}

#menu{bottom:0; width:100%; height:28px; background:#333 url(snips/gradient-dark.png);}

#experios{top:51px; width:500px;color:#eee; background:#000; overflow: hidden;}

#content-scroll-up{position: absolute; top:60px;bottom:120px; left:0px; right:0px; width:100%; background:#000;}
#content-scroll-handle{position: relative;top:0px;text-align:center; filter: alpha(opacity=80);opacity: 0.8; background:#000;}
#content-scroll-handle-2{bottom:120px;width:100%;text-align:center; filter: alpha(opacity=80);opacity: 0.8;}
#content-scrolled{position: relative; top:0; bottom:0; width:100%; color:#eee; height:100%; overflow:auto; background:#000; font-size:14px;}

#player-container{width: 400px; height: 74px; padding: 0px; border: 0;}
#player-controls { list-style: none; padding: 0px; margin: 0px; }
#player-controls li { display: block; width: 32px; height: 32px; float: left; text-indent: -9999px;cursor: pointer;}
li.audio_play {background: url('snips/control_play.png');}
li.audio_pause {background: url('snips/control_pause.png');}
li.audio_stop {background: url('snips/control_stop.png');}
#play-pause img{position:absolute;top:50%;left:50%;margin-top:-50px;margin-left:-50px;}

.experio-pic {overflow:hidden;}

